<h1 class="text-center">ログイン</h1>
<div class="mx-auto pt-4" style="width: 500px;">
  <table>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <tr>
        <th class="pt-4"><%= f.label :メールアドレス %></th>
        <td  class="pt-4 pl-3"><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></td>
      </tr>
    </div>

    <div class="field">
      <tr>
      <th class="pt-4"><%= f.label :パスワード %></th>
      <td  class="pt-4 pl-3"><%= f.password_field :password, autocomplete: "current-password", class:"form-control" %></td>
    </div>
    </table>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :次回から自動入力する %>
      </div>
    <% end %>

    <div class="text-center pt-5">
      <%= f.submit "ログイン", class:"btn btn-outline-primary btn-lg" %>
    </div>
    <% end %>

</div>


