<div class="container">
	<div class="row d-flex align-items-center justify-content-center pt-2">
		<div class="text-center">
			<h1>プロフィール編集</h1>
			<%= form_with model: @user, local: true do |f| %>
			 <!--画像-->
		   <div class="pt-4">
			 <%= f.attachment_field :image, class: 'img_field', style: 'display:none' %>
			 <%= attachment_image_tag @user, :image, :fill, 300, 300, fallback: 'no_image.jpg', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev', :width => "300", :height => "300" %>
		   </div>
			<div class="pt-4">
			 <table>
			 	<div class="form-group">
				 	<tr>
				 		<th><h4>ユーザー名 : </h4></th>
				 		<td><%= f.text_field :user_name, class:"form-control" %></td>
				 	</tr>
				 	<tr>
				 		<th><h4>居住地 : </h4></th>
				 		<td>　<%= f.select :area, User.areas.keys, {}, class:"form-control" %>
				 		</td>
				 	</tr>
				 	<tr>
				 		<th><h4>趣味</h4></th>
				 		<td> <%= f.text_field :hobby_name, value: @hobby_lit, class:"form-control", placeholder:"※複数タグ付けする場合は趣味と趣味の間にスペースを入れてください"  %></td>
				 	</tr>
				 	<tr>
				 		<th><h4>自己紹介 : </h4></th>
				 		<td></td>
				 	</tr>
				 	<tr>
				 	  <div class="form-group">
				 		<th></th>
				 		<td><%= f.text_area :introduction, class:"form-control" %></td>
				 	  </div>
				 	</tr>
				 </table>
			</div>
			 <%= f.submit "変更する" %>
			<% end %>
		  </div>
		</div>
	</div>
</div>