<h1>プロフィール編集</h1>
<%= form_for @user do |f| %>
 <!--画像-->
 <%= f.label :TOP %>
 <%= f.attachment_field :image %>
 <%= f.attachment_field :image %>
 <%= f.attachment_field :image %><br />
 <%= f.label :ユーザー名 %>
 <%= f.text_field :user_name %><br />
 <!--住んでいる地域-->
 <h4>住んでいる地域</h4>
 <%= f.select :area, User.areas.keys, {} %>
 <!-- 趣味のタグ付け -->

 <!-- ここまで -->
 <h4>自己紹介</h4>
 <%= f.text_area :introduction %><br />
 <%= f.submit "変更する" %>
<% end %>
