<div class="container">
	<div class="row">
	  <div class="col-5">
	  	  <h2 class="text-center">プロフィール</h2>
	  	<div class="sidebar_fixed">
	  	 <div class="mx-auto">
		 <table>
		  <tr>
			<td><%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: 'no_image.jpg' %>
			    <%= @user.user_name %>
			</td>
		  </tr>
		  <tr>
		  	 <!-- 現在の年齢を算出 -->
			　<% now_age = (Date.today.strftime('%Y%m%d').to_i - @user.age.strftime('%Y%m%d').to_i) / 10000 %>
			<th>年齢 :</th><td><%= now_age %></td>
		  </tr>
		  <tr>
		  	<th>性別:</th>
			<td><%= @user.sex %></td>
		  </tr>
		  <tr>
		  	<th>住んでいる地域 : </th><td><%= @user.area %></td>
		  </tr>
		  <!--趣味のタグ付け-->
		  <tr>
		  	<th><h4>趣味</h4></th>
		  	<td>
			　<% @user_hobbies.each do |hobby| %>
		        <span><%= hobby.hobby_name %></span>
		      <% end %>
		    </td>
		  </tr>
		  <tr>
		  	<td>
			<h4>自己紹介</h4>
			<%= @user.introduction %>
			</td>
		  </tr>
		  <tr>
		  	<td>
             <!-- フォロー機能rendar -->
			<%= render 'follow_form' %>
		    </td>
		  </tr>
		  <tr>
		  	<td>
				<!--chat機能（DM）-->
				<% if user_signed_in? %>
					<% unless @user.id == current_user.id %>
					  <% if current_user.following?(@user) && @user.following?(current_user) %>
						<% if @is_room == true %>
							<%= link_to room_path(@room_id) do %>
							   <button class="btn btn-outline-primary" id="dm_submit">チャット</button>
							<% end %>
						 <% else %>
							<%= form_for @room, url: rooms_path do |f| %>
								<%= fields_for @entry do |e| %>
									<%= e.hidden_field :user_id, :value => @user.id %>
								<% end %>
									<button class="btn btn-outline-primary" type="submit" id="chat_submit">チャット</button>
							<% end %>
						<% end %>
						<% end %>
					<% end %>
				<% end %>
		    </td>
		  </tr>
		</table>
			<!--自分のプロフィールの場合のみ表示する-->
				<% if @user.id == current_user.id %>
				  <p><%= link_to "編集する", edit_user_path(current_user.id), class:"btn btn-outline-success" %></p>
				  <p><%= link_to "マイページへ", users_path, class:"btn btn-outline-primary" %></p>
				<% end %>
			<!-- ここまで -->
		 </div>
		</div>
	  </div>
	  <!-- 詳細を表示しているユーザーの投稿一覧 -->
	  <div class="col-7">
	  	   <div style="overflow:auto; height: 500px;">
					<% @user_posts.each do |cp| %>
					     <%= render 'user/posts/timeline', post: cp %>
					<% end %>
			</div>
        </div>
	</div>
</div>

