<h1>プロフィール</h1>
<%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: 'no_image.jpg' %>
<h4>ユーザー名 : <%= @user.user_name %></h4>
<% now_age = (Date.today.strftime('%Y%m%d').to_i - @user.age.strftime('%Y%m%d').to_i) / 10000 %>
<p>年齢 : <%= now_age %></p>
<p>性別: <%= @user.sex %>
</p>
<h4>住んでいる地域 : <%= @user.area %></h4>

<!--趣味のタグ付け-->
<h4>自己紹介</h4>
<%= @user.introduction %>

<!-- フォロー機能rendar -->
<%= render 'follow_form' %>

<!--chat機能（DM）-->
<% if user_signed_in? %>
	<% unless @user.id == current_user.id %>
		<% if @is_room == true %>
			<%= link_to room_path(@room_id) do %>
			   <button id="dm_submit"><i class="fas fa-envelope"></i></button>
			<% end %>
		<% else %>
			<%= form_for @room, url: rooms_path do |f| %>
				<%= fields_for @entry do |e| %>
					<%= e.hidden_field :user_id, :value => @user.id %>
				<% end %>
					<button type="submit" id="dm_submit"><i class="fas fa-envelope"></i></button>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<!--自分のプロフィールの場合のみ表示する-->
<% if @user.id == current_user.id %>
  <p><%= link_to "編集する", edit_user_path(current_user.id) %></p>
<% end %>
