<h1>プロフィール</h1>
<!-- 画像スライダー機能-->
<h4>ユーザー名 : <%= @user.user_name %></h4>
<% now_age = (Date.today.strftime('%Y%m%d').to_i - @user.age.strftime('%Y%m%d').to_i) / 10000 %>
<p>年齢 : <%= now_age %></p>
<p>性別: <%= @user.sex %>
</p>
<h4>住んでいる地域 : <%= @user.area %></h4>

<!--趣味のタグ付け-->
<h4>自己紹介</h4>
<%= @user.introduction %>

<!-- フォロー機能rendar -->
<%= render 'follow_form' %>

<!--自分のプロフィールの場合のみ表示する-->
<% if @user.id == current_user.id %>
  <p><%= link_to "編集する", edit_user_path(current_user.id) %></p>
<% end %>
