<h1>投稿編集</h1>
<%= form_for @post do |f| %>
    <%= attachment_image_tag @post, :image, :fill, 80, 80, format: 'jpeg' %>
    <%= f.attachment_field :image %>
    <%= f.text_area :body %>
    <%= f.submit "編集する" %>
<% end %>
