<p class="<%= chat_message.id %>" style= "color: white; margin-top: 0;">
	<!-- ユーザー画像入ります -->
	<%= chat_message.user.user_name %>
</p>
<p class="<%= chat_message.id %>">
	<span class="balloon1-top">
		<h7 class="caht_message"><%= chat_message.message %></h7><br>
		<h7 style="color: #C0C0C0;"><%= chat_message.created_at.strftime("%Y/%m/%d %H:%M") %></h7>
	</span>
</p><br>

<!-- メッセージの位置指定 -->
<script>
	//メッセージのユーザーidを取ってくる
    var chat_message = <%= chat_message.user.id %>;
    //id="current_user"の内容を取得
    var chat_user = document.getElementById('current_user');
    //dm_userのdata-idを取得する
    var current_user = chat_user.getAttribute('data-id')
    //dm_userがログインユーザーであれば右に表示する
    if(chat_message == current_user){
      $('p.' + <%= chat_message.id %>).css('text-align', 'right');
    }else{
      $('p.' + <%= chat_message.id %>).css('text-align', 'left');
    }
</script>