<!DOCTYPE html>
<html>
  <head>
    <title>H2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h3>HobiCon</h3>
      <!--ログインしていた場合表示されるヘッダー-->
      <ul>
            <% if user_signed_in? %>
              <li>
                <%= link_to "マイページ", users_path %>
              </li>
              <li>
                <%= link_to "タイムライン", posts_path %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
      <!--ログインしていない場合表示されるヘッダー-->
            <% else %>
              <li>
                <%= link_to "ログイン", new_user_session_path %>
              </li>
              <li>
                <%= link_to "新規会員登録", new_user_registration_path %>
              </li>
            <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
